.history-box {
  min-width: 300px;
  background-color: #222;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
}

.history-box::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}
